.productItem {
  height: 280px;
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  .description {
    display: flex;
    flex-wrap: wrap !important;
    align-content: space-evenly;
  }
  .productiImage {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 10px;
      height: 189px;
      width: 223px;
    }
  }
  .productName {
    margin-top: 10px;
  }
  .priceFavourite {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .price {
      display: flex;

      justify-content: center;
      align-items: center;
    }
    .removeButton {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        cursor: pointer;
        border: 1px solid rgb(237, 100, 100);
        background-color: unset;
        color: rgb(235, 95, 95);
        border-radius: 5px;
      }
    }
  }
}
