.navigationContainer {
  display: flex;

  gap: 40px;
  padding: 30px;
  background-color: #000000;

  font-size: 20px;
  border-bottom: 2px solid white;
  .inactive {
    text-decoration: none;
    color: white;
  }
  .active {
    color: red;
    text-decoration: none;
  }
}
